* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: rgb(223, 226, 228);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  padding-left: 30px;
}

h2 {
  font-size: 2em;
  color: black;
}

p, form {
  font-size: 1.2em;
}

ul {
  text-align: left;
  padding: 0;
  line-height: 2em;
  font-size: 1.1em;
}

header {
  border-bottom: solid 2px black;
  min-height: 12vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

main {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

section {
  text-align: left;
}

.startQuiz {
  background: rgb(119, 120, 146);
  border-radius: 8px;
  color: white;
  font-size: 1.2em;
  line-height: 16px;
  max-width: 255px;
  padding: 15px 35px;
  text-align: center;
  margin-top: 0.6em;
  text-decoration: none;
  transition: all 0.5s;
  border: none;
}

.startQuiz:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#countDown {
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-end;
  order: 0;
  margin: 20px;
}

#viewHighscores {
  font-weight: bold;
  text-transform: uppercase;
  align-self: flex-end;
  margin-left: auto;
  margin: 0px 10px 10px 0px;
}

#gameStart {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  text-align: center;
  width: 75%;
  line-height: 1.7em;
}

#gameStart p {
    width: 50vw;
}

.app {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.app section {
  width: 35vw;
}

.app li {
  color: white;
  background-color: green;
  padding: 0.375rem 1.75rem;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  list-style: none;
}

.app li:hover {
  color: white;
  background-color: rgb(77, 170, 77);
  padding: 0.375rem 1.75rem;
  border-radius: 0.25rem;
  margin-bottom: 10px;
  list-style: none;
}

#result {
  width: 35vw;
}

#result p {
  font-size: 1.2em;
  color: black;
  border-top: solid black 1px;
  padding-top: 15px;
  text-align: left;
}

#gameEnd {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

#initials {
    height: 6vh;
    font-size: 1em;
}    

#gameHighscores {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

#gameHighscores ul {
  list-style: none;
  text-transform: uppercase;
}

#gameHighscores ul {
  list-style: none;
  text-transform: uppercase;
}

#submitScoreButton,
#gameHighscores button,
#viewHighscores button {
  background: rgb(119, 120, 146);
  border-radius: 8px;
  color: white;
  font-size: 1em;
  line-height: 16px;
  max-width: 255px;
  padding: 13px 22px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
  margin: 5px;
  border: none;
}

#gameHighscores button:hover,
#viewHighscores button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}


/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    h1 {
        order: 0;
        margin: 25px 0px 6px 0px;
        padding: 0;
        font-size: 3em;
        text-align: center;
    }
    h2 {
        margin-bottom: 10px;
        font-size: 1.3em;
    }
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: normal;
        align-items: normal;
        align-content: normal;
    }
    #countDown {
        align-self: auto;
        text-align: center;
        padding: 0;
        margin: 10px 0px 10px 0px;
    }
    #gameStart p {
        width: auto;
    }
    #viewHighscores {
        align-self: auto;
        text-align: center;
        padding: 0;
        margin: 10px 0px 10px 0px;
    }
    #gameEnd h2, #gameEnd section {
        text-align: center;
    }
    #gameEnd form {
        line-height: 1.4em;
    }
    .app section, #gameEnd section, #result {
        width: 80vw;
    }
    #result p, form {
        align-self: auto;
        text-align: center;
        padding: 10px 0px 10px 0px;
    }
    #label, #initials {
        margin-bottom: 10px;
    }
}