* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: rgb(223, 226, 228);
}

h1 {
    font-size: 4vw;
    text-transform: uppercase;
    padding: 0 0.5em 0 0.5em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: black;
}

header {
    padding: 15px 6% 15px 6%;
    border-bottom: solid 2px black;
}

main {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

#countDown {
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}

#gameStart {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    text-align: center;
    width: 40%;
    line-height: 1.7em;
}

.app {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.app section {
    width: 50%;
}

.app li {
    color: white;
    background-color: green;
    padding: 0.375rem 1.75rem;
    border-radius: .25rem;
    margin-bottom: 10px;
    list-style: none;
}

.app li:hover {
    color: white;
    background-color: rgb(77, 170, 77);
    padding: 0.375rem 1.75rem;
    border-radius: .25rem;
    margin-bottom: 10px;
    list-style: none;
}

#gameEnd {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

#gameHighscores {
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.startQuiz {
    background: rgb(119, 120, 146);
    border-radius: 8px;
    color: white;
    font-size: 1.2em;
    line-height: 16px;
    max-width: 255px;
    padding: 15px 35px;
    text-align: center;
    margin-top: 0.6em;
    text-decoration: none;
    transition: all 0.5s;
}

.startQuiz:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border: 3px solid white;
}

section {
    text-align: left;
}

ul {
    text-align: left;
    padding: 0;
    line-height: 2em;
}